*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(21, 21, 24);
}

.App__container{
    width: 85%;
    margin: auto;
}
.App__title{
    text-align: center;
    color: rgb(143, 238, 0);
    letter-spacing: 1px;
    margin:10px 0 ;
}

.App__title__spam{
    color: yellow !important;
}
.main__title{
    background-color: yellow;
    color: rgb(13, 13, 37);
    padding: 0 0px 0 2px;
    margin: 30px 0 5px 0;
}

.main__div{
    color: #fff;
}
.main__div ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0;
}.main__div ul li {
    list-style: none;
}

.main__total{
    color: yellow;
    font-size: 20px;
    font-style: italic;
}